<html>
	<head>
		<title>Forms</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body id="formIndex">
		<div class="container-fluid users">
			<% if (messages && messages['error'].length > 0) { %>
			  <div class="alert alert-danger securityMessage">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
			  <% messages['error'].forEach(function(message) { %>
			    <%= message %>
			    <br>
			  <% }); %>
			  </div>
			  <br>
			<% } %>
			<% if (messages && messages['warning'].length > 0) { %>
			  <div class="alert alert-warning securityMessage">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
			  <% messages['warning'].forEach(function(message) { %>
			    <%= message %>
			    <br>
			  <% }); %>
			  </div>
			  <br>
			<% } %>
			<% if (messages && messages['success'].length > 0) { %>
			  <div class="alert alert-success securityMessage">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
			  <% messages['success'].forEach(function(message) { %>
			    <%= message %>
			    <br>
			  <% }); %>
			  </div>
			  <br>
			<% } %>
			<div id="add-receipt" class="panel panel-default">
			  <div class="panel-heading" id="myform-title">Upload</div>
			  <div class="panel-body">
			  	<div class="form-group"> 
				    <div class="col-sm-12">
				    	<form class="form-horizontal" id="addReceipt" action="/expenses/insertReceipt" method="POST" enctype="multipart/form-data">
				    		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				    		<input type="hidden" name="expenseId" id="expenseId" value="" />
				    		<input type="file" name="receipt-upload" id="receipt-upload" class="filestyle" multiple />
			  		  	</form>
			  		  	<div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10" id="addReceiptCloseDiv">
						      <button type="button" class="btn btn-default pull-right" onclick="submitExpenseForm()">Submit</button>
						      <button type="button" id="addReceiptClose" class="btn btn-default pull-right">Close</button>
						    </div>
						</div>
				    </div>
				  </div>
			  </div>
			</div>
			<h3 id="table-title">Expenses</h3>
			<table id="table-expenses" class="table table-striped" data-sorting="true" data-filtering="true">
				<thead>
					<tr>
						<!--- Must have data-type="html" on all data-breakpoints="all" or <ahref=""> table data in Footable Plugin --->
						<th>Name</th>
						<th>Expense ID</th>
						<th>Add Receipts</th>
						<th data-type="html" data-breakpoints="all" data-title="Employee">Employee</th>
						<th data-type="html" data-breakpoints="all" data-title="Category">Category</th>
						<th data-type="html" data-breakpoints="all" data-title="Client">Client</th>
						<th data-type="html" data-breakpoints="all" data-title="Comment" data-filterable="false">Comment</th>
						<th data-type="html" data-breakpoints="all" data-title="Date" data-filterable="false">Date</th>
						<th data-type="html" data-breakpoints="all" data-title="Amount" data-filterable="false">Amount</th>
						<th data-type="html" data-breakpoints="all" data-title="Currency" data-filterable="false">Currency</th>
						<th data-type="html" data-breakpoints="all" data-title="Receipts" data-filterable="false">Receipts</th>
					</tr>
				</thead>
				<tbody>
				  <% _.each(expenses, function(expense){ %>

					<tr data-expanded="false" id="expense-records" data-id="<%= expense.id %>" data-model="expenses">
						<td><%= expense.name %></td>
						<td><%= expense.id %></td>
						<td><button onclick="addReceipt(<%= expense.id %>)" class="btn btn-sm btn-info receipt-file">Add</button></td>
						<td><%= expense.employee %></td>
						<td><%= expense.category[0].description %></td>
						<td><%= expense.client[0].client %></td>
						<td><%= expense.comment %></td>
						<td><%= moment(expense.date).format('LL') %></td>
						<td>$<%= expense.amount %></td>
						<td><%= expense.currency[0].description %></td>
						<td><% for (var prop in expense.documents) { %>
								<div id="download-close-btn">
									<form id="expense-receipts-form" action="/formfields/getDocs?path=<%= expense.documents[prop] %>&filename=<%= prop %>" method="POST">
										<input type="submit" id="download-receipt" class="btn btn-sm btn-success" value="<%= prop %>" />
										<i class="fa fa-times fa-lg delete-receipt" aria-hidden="true" onclick="confirmDeletedDocument()"></i>
										<input type="hidden" name="_csrf" value="<%= _csrf %>" />
									</form>
									<form id="expense-receipts-form-remove" action="/expenses/removeReceipt?id=<%= expense.id %>&receiptName=<%= prop %>" method="POST" >
										<input type="hidden" name="_csrf" value="<%= _csrf %>" />
									</form>	
								</div>
							<% } %>
						</td>

						<td>
							<form action="/expenses/destroy?id=<%= expense.id %>" method="POST">
								<input type="hidden" name="_method" value="delete" />
								<input type="submit" class="btn btn-sm btn-danger" value="Delete" />
								<input type="hidden" name="_csrf" value="<%= _csrf %>" />
							</form>
						</td>	
					</tr>
				   <% }) %>
				</tbody>
			</table>
		</div>
	</body>
</html> 