<html>
	<head>
		<title>Leaflet Mobile Map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body id="editUsersPage">
		<div class="edit-users">
			<% if (messages && messages['error'].length > 0) { %>
			  <div class="alert alert-danger securityMessage">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
			  <% messages['error'].forEach(function(message) { %>
			    <%= message %>
			    <br>
			  <% }); %>
			  </div>
			  <br>
			<% } %>
			<% if (messages && messages['warning'].length > 0) { %>
			  <div class="alert alert-warning securityMessage">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
			  <% messages['warning'].forEach(function(message) { %>
			    <%= message %>
			    <br>
			  <% }); %>
			  </div>
			  <br>
			<% } %>
			<% if (messages && messages['success'].length > 0) { %>
			  <div class="alert alert-success securityMessage">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
			  <% messages['success'].forEach(function(message) { %>
			    <%= message %>
			    <br>
			  <% }); %>
			  </div>
			  <br>
			<% } %>
			<div id="addUserSecGroup-panel" class="panel panel-default">
			  <div class="panel-heading">Add Security Group</div>
			  <div class="panel-body">
			  	<form class="form-horizontal" id="formAddUserSec" action="/users/addUserSecGroup">
				  	<div class="form-group">
					    <label class="control-label col-sm-2" for="secgroup">Security:</label>
					    <div class="col-sm-10">
					    	<div class="dropdown" id="addusersecgroup">
							  <button id="btn-addusersecgroup" name="btn-secgroup" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Select Type
							    <span class="caret"></span>
							  </button>
							  <input type="hidden" id="userAddSecGroup" name="userAddSecGroup" />
							  <input type="hidden" id="userEmail" name="userEmail" value="<%= user.email %>"/>
							  <ul id="addSecGroupDropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  
							  </ul>
							</div>
					    </div>
					  </div>
				  </div>
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-10" id="userSecClose">
				      <button type="submit" class="btn btn-default pull-right">Submit</button>
				      <button type="button" id="userSecAddClose" class="btn btn-default pull-right btn-close" >Close</button>
			  		  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
				    </div>
				  </div>
			   </form>
			</div>
			<form action="/users/update?email=<%= user.email %>" method="POST" class="form-signin" id="editUserSecGroup">
				<h2>Editing User...</h2>
				<label class="control-label col-sm-2" for="firstname">First Name:</label>
					<input value="<%= user.firstname %>" name="firstname" type="text" class="form-control" /><br/>
				<label class="control-label col-sm-2" for="lastname">Last Name:</label>
					<input value="<%= user.lastname %>" name="lastname" type="text" class="form-control" /><br/>
				
				<!-- Loops through each security group assigned to the user -->
				<% _.each(user.securitygroups, function(usersec){ %>
					<label class="control-label" for="sec-groups<%= user.secid %>">Security Group:</label>
					<div class="input-group">
						<input id="userSecurity" value="<%= usersec.secname %>" name="sec-groups<%= usersec.secid %>" type="text" class="form-control" readonly />
						<span class="input-group-addon btn-danger removesec" id="removeUserSecurity_<%= usersec.secid %>" value="{'secid':'<%= usersec.secid %>', 'secname':'<%= usersec.secname %>', 'email':'<%= user.email %>', 'csrf':'<%= _csrf %>'}">
			                <i class="fa fa-times" aria-hidden="true"></i>
			            </span>
					</div><br/>
				<% }) %>
				
				<!-- Displays the Admin Checkbox only if the logged in user is an Admin user -->
				<% if(session.authenticated && session.User.admin) { %>
					<% if(user.admin) { %>
						<div class="checkbox">
							<input type="hidden" id="hiddenAdminCheckbox" name="admin" value="true" />
							<label class="checkbox"><input type="checkbox" id="adminCheckbox" checked> Administrator</label>
						</div>
					<% }else{ %>
						<div class="checkbox">
							<input type="hidden" id="hiddenAdminCheckbox" name="admin" value="false" />
						  	<label><input type="checkbox" id="adminCheckbox" > Administrator</label>
						</div>
					<% } %>
				<% } %>	
				<input id="test" type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
			<!-- Show option to add security groups if Admin User -->
			<% if(session.authenticated && session.User.admin) { %>
				<button id="addusersecgroups" class="btn btn-sm btn-primary" >Add Security Group</button></br></br>
			<% } %>
			
			<!-- Displays the Upload Profile Image Button only if the current user is authenticated and they are uploading an image to their own profile -->
			<% if(session.authenticated && session.User.id == user.id) { %>
				<a href="/upload-file" id="uploadProfileImg" name="uploadProfileImg" class="btn btn-sm btn-primary" />Upload Profile Image</a>
			<% } %>
			<input type="submit" id="editUserSubmit" class="btn btn-lg btn-primary" onclick="submitAddSecGroup()" value="Submit"  />
		</div>
	</body>
</html>