<html>
	<head>
		<title>Leaflet Mobile Map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<% if (messages && messages['error'].length > 0) { %>
		  <div class="alert alert-danger securityMessage">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
		  <% messages['error'].forEach(function(message) { %>
		    <%= message %>
		    <br>
		  <% }); %>
		  </div>
		  <br>
		<% } %>
		<% if (messages && messages['warning'].length > 0) { %>
		  <div class="alert alert-warning securityMessage">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
		  <% messages['warning'].forEach(function(message) { %>
		    <%= message %>
		    <br>
		  <% }); %>
		  </div>
		  <br>
		<% } %>
		<% if (messages && messages['success'].length > 0) { %>
		  <div class="alert alert-success securityMessage">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
		  <% messages['success'].forEach(function(message) { %>
		    <%= message %>
		    <br>
		  <% }); %>
		  </div>
		  <br>
		<% } %> 
		<div id="reset-password">
			<form action="/users/updatepassword" method="POST" class="form-reset" id="resetPasswordForm">
				<img id="loading-image" src="/images/mblais.png" width="100" height="100" alt="Loading..." />
				<h1>Reset Password</h1>
				<input type="hidden" class="form-control" name="hashedemail" value="<%= req.query.hashedemail %>" >
				<div class="control-group">
					<input type="text" class="form-control" placeholder="Email..." name="email">
					<br/>
				</div>
				
				<div class="control-group">
					<input type="password" id="password" class="form-control" placeholder="New Password..." name="password">
					<br/>
				</div>
				<div class="control-group">
					<input type="password" class="form-control" placeholder="Repeat Password..." name="confirmation">
					<br/>	
				</div>
			
				<button type="submit" id="updatePassword" class="btn btn-lg btn-primary">Update Password</button>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			
			</form>
		</div>
	</body>
</html>	